/data/*
!/data/samples/
/data/samples/**/*.png
/data/samples/**/*.json

!/data/sentinel2/
/data/sentinel2/**/*.tif
/data/sentinel2/**/*.png

/code/__pycache__/
/infos/**/*.pdf
/infos/**/*.pptx

/qgis/

/**/*.tif
/**/*.xml
/**/*.aux
/**/*.csv
/**/*.pkl
/**/*.npy

/drone_treated/